<!DOCTYPE html>
<html lang="en"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="@{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<main>
    <div layout:fragment="contents">
        <h1>Gallery</h1>
        <img class="img" src="../static/images/kari-shea-tOVmshavtoo-unsplash.jpg" height="900" width="900">
        <img class="img" src="../static/images/kenny-eliason-iAftdIcgpFc-unsplash.jpg" height="750" width="500">
        <img class="img" src="../static/images/seiji-seiji-Ihh0nT34AJs-unsplash.jpg" height="750" width="750">
    </div>
</main>
</body>
</html>


